@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: #FFFFFF;
    width: 100%;
}

.cabecalho {
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px 68px;
}

.c-logo {
    height: 100%;
}

.c-menu {
    display: flex;
    align-items: center;
    gap: 70px;
}

.cm-item {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
}

.c-botao {
    background-color: #FED141;
    width: 200px;
    height: 50px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border-radius: 25px;
}

.conteudo-principal {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cp1 {
    width: 100%;
    align-items: center;
    position: relative;
}

.cp1-img {
    height: 85vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.cp1-botao {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%);
    width: 220px;
    height: 50px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border-radius: 25px;
    background: linear-gradient(180deg, #FED141 -55.13%, rgba(254, 209, 65, 0) 155.13%);
}

.cp2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFFCFC;
    width: 80%;
    height: 150px;
    border-bottom: #003057 solid 8px;
    border-radius: 10px;
    align-items: center;
    position: absolute;
    top: 93%;
}

.cp2-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cp2-texto-h1 {
    color: #FED141;
    font-size: 35px;
}

.cp3 {
    margin: 150px 0 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    gap: 150px;
}

.cp3-texto {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cp3-texto-h2 {
    border-bottom: #003057 solid 5px;
    width: 187px;
    font-size: 30px;
}

.cp4 {
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: #FED141 solid 8px;
    background: linear-gradient(180deg, rgba(0,48,87,1) 35%, rgba(255,255,255,1) 100%);
}

.cp4-texto-h2 {
    color: white; 
    font-size: 30px;
    margin: 70px 0 50px;
    font-family: 'Habibi', serif;
}

.cp4-itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    justify-content: space-around;
    border-radius: 25px;
    padding: 50px;
    width: 80%;
    gap: 10px;
}

.cp4-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
}

.cp4-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.cp5 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cp5-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Habibi', serif;
}

.cp5-texto h2 {
    font-size: 30px;
    margin: 70px 0 30px;
    border-bottom: #003057 solid 5px;
}

.cp5-texto p {
    margin: 0 0 40px;
    width: 450px;
    text-align-last: center;
    font-size: 18px;
}

.cp5-itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    gap: 25px;
}

.cp5-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 300px;
    max-width: 300px;
    border-radius: 40px;
}

.cp5-item p {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 100;
    width: 200px;
    height: 70px;
}

.cp5-item-1 {
    background-color: #c79cc8;
    box-shadow: 15px 30px 50px -10px #a37ba3;
}

.cp5-item-2 {
    background-color: #a89cc8;
    box-shadow: 15px 30px 50px -10px #857c9e;
}

.cp5-item-3 {
    background-color: #9bb2e1;
    box-shadow: 15px 30px 50px -10px #7f93bb;
}

.cp5-item-4 {
    background-color: #8cc9f0;
    box-shadow: 15px 30px 50px -10px #76aaca;
}

.cp5-imgs {
    width: 80px;
    height: 80px;
    margin: 20px
}

.cp5-i-img {
    width: 100%;
}