@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    background: #FFFFFF;
}

.cabecalho {
    width: 100%;
    background-color: #FFFCFC;
    z-index: 1;
    position: fixed;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px 68px;
    border-bottom: #bebaba solid 3px;
}

.onInicio:hover, .onQSomos:hover, .onSolucoes:hover, .onClientes:hover {
    color: #FED141;
}
.nav-spacing{
    height: 15vh;
}

.c-logo {
    height: 100%;
}

.c-menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.cm-item {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
}

.onFaleConosco {
    background-color: #FED141;
    padding: 12px 40px;
    border-radius: 25px;
}

.conteudo-principal {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cp1 {
    width: 100%;
    align-items: center;
    position: relative;
}

.cp1-img {
    height: 85vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.cp1-botao {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%);
    width: 220px;
    height: 50px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border-radius: 25px;
    background: linear-gradient(180deg, #FED141 -55.13%, rgba(254, 209, 65, 0) 155.13%);
}

.cp2 {
    display: flex;
    background-color: #FFFCFC;
    width: 80%;
    height: 150px;
    border-bottom: #003057 solid 8px;
    border-radius: 10px;
    align-items: center;
    position: absolute;
    top: 93vh;
}

.cp2-infos {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
}

.cp2-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cp2-texto-h1 {
    color: #FED141;
    font-size: 35px;
}

.cp3 {
    margin: 150px 0 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    gap: 150px;
}

.cp3-texto {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cp3-texto-h2 {
    border-bottom: #003057 solid 5px;
    width: 187px;
    font-size: 30px;
}

.cp4 {
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: #FED141 solid 8px;
    background: linear-gradient(180deg, rgba(0,48,87,1) 35%, rgba(255,255,255,1) 100%);
}

.cp4-texto-h2 {
    color: white; 
    font-size: 30px;
    margin: 70px 0 50px;
    font-family: 'Habibi', serif;
}

.cp4-itens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    background-color: #FFFFFF;
    justify-content: space-around;
    border-radius: 25px;
    padding: 50px;
    width: 80%;
    gap: 10px;
}

.cp4-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    max-width: 250px;
    max-height: 300px;
}

.cp4-i-imgs {
    height: 200px;
}

.cp4-i-img {
    width: 100%;
    height: 100%;
}

.cp4-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.cp4-t-p {
    text-align: center;
}

.cp5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cp5-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Habibi', serif;
}

.cp5-texto h2 {
    font-size: 30px;
    margin: 70px 0 30px;
    border-bottom: #003057 solid 5px;
}

.cp5-texto p {
    margin: 0 0 40px;
    width: 450px;
    text-align-last: center;
    font-size: 18px;
}

.cp5-itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    gap: 25px;
}

.cp5-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 300px;
    max-width: 300px;
    border-radius: 40px;
}

.cp5-item p {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 100;
    width: 200px;
    height: 70px;
}

.cp5-item-1 {
    background-color: #c79cc8;
    box-shadow: 15px 30px 50px -10px #a37ba3;
}

.cp5-item-2 {
    background-color: #a89cc8;
    box-shadow: 15px 30px 50px -10px #857c9e;
}

.cp5-item-3 {
    background-color: #9bb2e1;
    box-shadow: 15px 30px 50px -10px #7f93bb;
}

.cp5-item-4 {
    background-color: #8cc9f0;
    box-shadow: 15px 30px 50px -10px #76aaca;
}

.cp5-imgs {
    width: 80px;
    height: 80px;
    margin: 20px
}

.cp5-i-img {
    width: 100%;
}

.cp3-img {
    height: 350px;
}
.section{
    min-height: 100px;
    padding: 5%;
}

.title-clients{
    margin:auto;
    margin-top: 5%;
    display: block;
    text-align: center;
}
.client-declaration{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: italic;
    font-size: 120%;
    width: 80%;
    color: #5a5858;
}
.clientes{
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: #003057 solid 5px;
    position: relative;
    margin-bottom: 5%;
    font-family: 'habibi', serif;
    font-weight: 400;
    width: 120px;
}

.loop-clientes{
    height: 70vh;
    width: 80vw;
    position: relative;
}

.loop-clientes div {
    opacity: 0;
    margin-top: 100px;
    position: absolute;
    transition: 0.5s;
}

.loop-clientes div.cliente-ativo {
    opacity: 1;
}

.autor{
    text-align: center;
    margin-top: 4%;
    font-weight: bold; 
}
.description-autor{
    text-align: center;
    color: rgb(0, 116, 170);
    margin-top: 0.4%;
    margin-bottom: 20%;
}
.blue-bg{
    border-top: 9px solid #FED141;
    background-color: #003057;
    color: #FFFCFC;
    width: 100%;
    margin-top: 100px;
}
.roda-pe{
    font-weight: 100;
}
.grid-one{
    font-family: 'habibi', sans-serif;
    display: flex;
    justify-content: space-evenly;
}
ul{
    list-style: none;
}
ul li{
    padding: 10px;
}
.col1 ul li a{
    color: #FFFCFC;
    position: relative;
    
}
.col1, .col2{
    text-align: center;
    display: flex;
    width: 400px;
    flex-direction: column;
    gap: 30px;
}
.col2 div p{
    padding: 10px;
}
.col2 div a{
    color: white;
}
.col1 ul li a::after{
    content: '';
    position: absolute;
    bottom: -30%;
    left: 50%;
    right: 0%;
    width: 0%;
    height: 1%;
    background: #FFFCFC;
    transition: all 300ms ease-in-out
}
.col1 ul li a:hover::after{
    width: 100%;
    left: 0%;

}

.redes-sociais {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.redes-sociais a {
    width: 16px;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 1105px){
    .c-menu{
        gap: 20px;
    }
    .cp3-img {
        height: 315px;
    }
    .cp4 {
        height: 1000px;
    }
    .cp4-i-imgs {
        height: 170px;
    }
    .cp4-itens {
        border-radius: 20px;
        padding: 25px;
        width: 800px
    }
}

@media (max-width: 840px){
    .cm-item, .cp2-texto-p {
        font-size: 15px;
    }
    .onFaleConosco {
        padding: 10px 35px;
        font-size: 15px;
        border-radius: 18px
    }
    .cp1-botao {
        height: 35px;
        font-size: 15px;
        border-radius: 18px;
    }
    .cp2-texto-h1 {
        font-size: 25px;
    }
    .cp3 {
        flex-direction: column;
        gap: 70px;
    }
    .cp3-texto {
        align-items: center;
    }
    .cp3-texto p{
        text-align: center;
        font-size: 15px;
    }
    .cp4 {
        height: 1350px;
    }
    .cp4-itens, .cp5-itens{
        width: 550px;
    }
    .cp4-item {
        margin: 20px 0;
    }
}

@media (max-width: 700px){
    .c-menu {
        display: none;
    }
    .cp2{
        height: 125px;
        border-bottom: #003057 solid 4px;
    }
    .cp2-infos{
        flex-wrap: wrap;
    }
    .cp2-texto {
        margin: 5px;
    }
    .cp3-texto-h2, .cp4-texto-h2, .cp5-texto h2, .clientes{
        font-size: 25px;
    }
    .cp3-texto-h2{
        width: 155px;
    }
    .clientes {
        width: 95px;
    }
    .client-declaration {
        font-size: 15px;
    }
    .cp5-itens {
        width: 250px;
        gap: 35px;
    }
    .menu-hamb {
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        border: none;
        background-color: #fff;
        gap: 5px;
    }
    .menu-h1, .menu-h2, .menu-h3 {
        background-color: #003057;
        height: 5px;
        border-radius: 2.5px;
        padding: 2px;
        width: 100%;
        transition-duration: 0.4s;
    }
    .cabecalho.cliked .c-logo {
        display: none;
    }
    .cabecalho.cliked {
        display: block;
        background-color: #fff;
        height: 100vh;
        width: 100vw;
        z-index: 5;
        display: flex;
        justify-content: center;
    }
    .cabecalho.cliked .c-menu{
        display: block;
    }
    .cabecalho.cliked .menu-hamb{
        position: absolute;
        right: 68px;
        top: calc((15vh / 2) - 17px);
    }
    .cabecalho.cliked .menu-hamb .menu-h1{
        transform: rotate(-40deg) translate(-5px);
        width: 25px;
    }
    .cabecalho.cliked .menu-hamb .menu-h3{
        transform: rotate(40deg) translate(-5px);
        width: 25px;
    }
    .cabecalho.cliked .c-menu .cm-item{
        display: block;
        text-align: center;
        font-size: 18px;
        transition: 0.5s;
        margin-bottom: 40px;
    }
}

@media (max-width: 600px){
    .cp3-img {
        height: 250px;
    }
    .cp4-itens{
        width: 350px;
    }
    .cp4-texto h3{
        font-size: 16px;
    }
    .cp4-t-p {
        font-size: 14px;
    }
    .cp4-i-imgs {
        height: 150px;
    }
    .grid-one {
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }
}

@media (max-width: 500px){
    .cp2{
        box-shadow: 0 0 30px -10px #525252;
        top: 105vh;
        width: 70vw;
    }
    .cp2-texto-h1 {
        font-size: 28px;
    }
    .cp2-texto-p {
        font-size: 15px;
    }
    .cp2-infos div{
        opacity: 0;
        position: absolute;
        transition: 0.5s;
    }
    .cp2-infos div.info-ativo {
        opacity: 1;
    }
    .cp2-infos{
        align-items: center;
    }
    .cp2-bs{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20vw;
        height: 10px;
    }
    .cp2-b {
        width: 7px;
        height: 7px;
        border-radius: 3px;
        background-color: #979494;
        transition: 0.5s;
    }
    .b-on{
        background-color: #FED141;
    }
    .cp3{
        margin: 200px 0 50px 0;
    }
    .cp4-itens {
        background-color: initial;
    }
    .cp4-item {
        background-color: white;
        padding: 30px;
        border-radius: 25px;
        border: solid #FED141 2px;
    }
    .cp5-texto p {
        width: 280px;
        font-size: 15px;
    }
}